* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

.portrait {
    background: url(../img/portrait.png) no-repeat top;
    background-size: cover;
    /* max-width: 684px;
    width: 100%; */
    flex: 1;
}

.content {
    flex: 2;
    padding: 0 5%;
    position: relative;
    top: 80px;
}

.content h1 {
    font-size: 200px;
    line-height: 200px;
}

.content h2 {
    font-size: 150px;
    line-height: 150px;
}

.content h2 span {
    color: aqua;
}

.content p {
    color: #202021;
    font-size: 20px;
}

.social {
    position: relative;
    top: 32px;
}

.linkedin {
    display: inline-block;
    padding-right: 20px;
}

.github, .mail {
    display: inline-block;
    padding: 0 20px;
}

.resume {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    top: -42px;
}

.social img {
    width: 100px;
    fill: #202021;
}

#linkedin-img {
    width: 90px;
}

#linkedin-svg a:hover {
    fill: #0e76a8;
}

#github-svg:hover {
    fill: #211F1F;
}

#mail-svg:hover {
    fill: #D44638;
}

.resume-button {
    height: 64px;
    width: 200px;
    font-size: 24px;
    color: white;
    background-color: #202021;
    border: none;
    border-radius: 20px;
    transition: all ease 0.5s;
}

.resume-button:hover {
    background-color: aqua;
}