* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.landing-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

/* left image */

.portrait {
    background: url(../img/portrait.png) no-repeat top;
    background-size: cover;
    flex: 1;
}

/* right text */

.content {
    flex: 2;
    padding: 0 5%;
    position: relative;
    top: 80px;
}

.content h1 {
    font-size: 200px;
    line-height: 200px;
}

.content h2 {
    font-size: 150px;
    line-height: 150px;
}

.content h2 span {
    color: aqua;
}

.content p {
    color: #282828;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

/* social section */

.social {
    position: relative;
    top: 32px;
}

/* svg position */

.linkedin,.github, .mail {
    display: inline-block;
    padding-right: 20px;
    width: 100px;
    height: 100px;
}

/* Hover for all the svgs */

#linkedin-svg:hover {
    fill: #0e76a8;
    position: relative;
    top: -2px;
}

#github-svg:hover {
    fill: #211F1F;
    position: relative;
    top: -2px;
}

#mail-svg:hover {
    fill: #FE0109;
    position: relative;
    top: -2px;
}

/* resume button */

.resume {
    display: inline-block;
    position: relative;
    top: -34px;
}

.resume-button {
    height: 60px;
    width: 180px;
    font-size: 24px;
    color: white;
    background-color: #282828;
    border: none;
    border-radius: 20px;
    transition: all ease 0.5s;
}

.resume-button:hover {
    background-color: aqua;
}

/* responsive */

@media screen and (max-width: 880px) {

    .landing-page {
        flex-direction: column;
        height: 180vh;
        width: 100vw;
        overflow: hidden;
    }

    .portrait{
        flex: 1;
    }

    .content {
        flex: 1;
    }

}

@media screen and (max-width: 768px) {

    .content h1 {
        font-size: 10rem;
        line-height: 10rem;
        position: relative;
        top: -15px;
    }

    .content h2 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .content p {
        font-size: 1.3rem;
        position: relative;
        top: 10px;
    }

    /* svgs */

    .linkedin,.github, .mail {
        width: 64px;
        height: 64px;
    }

    /* resume button */

    .resume {
        top: -18px;
    }
    
    .resume-button {
        height: 48px;
        width: 120px;
        font-size: 1rem;
        border-radius: 1rem;
    }

}

@media screen and (max-width: 330px) {

    /* handling iphone5/5s use case */

    .landing-page {
        height: 200vh;
    }

    .content h1 {
        font-size: 6rem;
        line-height: 6rem;
    }

    .content h2 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .content p {
        font-size: 1rem;
    }

    .resume {
        top: 10px;
    }

}

/* Author 2020 @ Haskers | Hritik Harbhla */